* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(boxsizing.htc); }

html, body {
  margin: 0;
  padding: 0;
  background: #000;
  line-height: 1;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: white; }

h1, h2, .nav-link, .playlist-btn {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  text-transform: uppercase; }

.box {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px; }
  .box .title {
    color: white;
    font-size: 1em;
    /* Safari */
    -webkit-transform: rotate(-4deg);
    /* Firefox */
    -moz-transform: rotate(-4deg);
    /* IE */
    -ms-transform: rotate(-4deg);
    /* Opera */
    -o-transform: rotate(-4deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

.nav {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 999999;
  width: 150px;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s; }

.credit {
  margin: 20px 0; }

.download-links {
  margin-top: 20px; }

.download {
  margin-left: 10px;
  padding: 5px 10px;
  color: #fff;
  background: #111;
  border-radius: 5px;
  display: inline; }

.video-list {
  list-style: none;
  margin: 0 0 -10px;
  padding: 0;
  text-align: center; }

.video-list li {
  margin-bottom: 10px; }

.video-list .playlist-btn {
  display: block;
  width: 100%; }

.min-col {
  position: relative;
  z-index: 99999;
  width: 20%;
  height: 100%; }
  .min-col .wrapper-box:after {
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: skew(0deg, -2deg);
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white; }
  .min-col .wrapper-box {
    height: 150px;
    position: relative;
    text-align: center;
    width: 70%;
    padding: 5%;
    background: none;
    margin: 0 auto;
    margin-top: 25%; }
  .min-col .wrapper-box-small:after {
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: skew(0deg, -2deg);
    width: 100%;
    border-top: 1px solid orangered;
    border-bottom: 1px solid orangered; }
  .min-col .wrapper-box-small {
    position: relative;
    text-align: center;
    width: 70%;
    padding: 5%;
    background: none;
    margin: 0 auto;
    margin-top: 25%;
    height: 50px; }
  .min-col .box:after {
    background: none repeat scroll 0 0 black;
    opacity: 0.3;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: skew(0deg, -2deg);
    width: 100%; }
  .min-col .box {
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
    background: none; }
  .min-col .box-orange:after {
    background: none repeat scroll 0 0 orangered;
    opacity: 0.3;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: skew(0deg, -2deg);
    width: 100%; }
  .min-col .box-orange {
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
    background: none; }
    .min-col .box-orange a {
      text-decoration: none;
      cursor: pointer;
      z-index: 9999999;
      color: white;
      position: relative;
      display: inline-block;
      *display: inline;
      /* Used to get IE 6 & 7 to behave */
      zoom: 1;
      /* Used to get IE 6 & 7 to behave */
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      transform: rotate(-3deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0); }

.col {
  position: relative;
  width: 60%;
  height: 100%;
  float: left; }

.nav-link {
  display: block;
  padding-bottom: 10px;
  text-decoration: none;
  font-style: normal; }

.toggle-btn {
  position: absolute;
  bottom: -50px;
  left: 5px;
  background: rgba(0, 0, 0, 0.8);
  padding: 6px 12px;
  border-radius: 10px;
  color: #fff;
  font-size: .8em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  text-transform: uppercase; }

.playlist {
  padding: 0;
  margin: 20px 20px 40px; }

.playlist-btn {
  background: #000;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px; }

.dimmed {
  opacity: .7; }

.footer-text {
  padding: 0 20px;
  font-size: .9em;
  font-style: italic;
  opacity: .8;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); }

header {
  width: 100%;
  float: left;
  background: white; }
  header .content-wrapper {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    height: auto; }
    header .content-wrapper .contenuto {
      float: left;
      padding: 0;
      width: 100%;
      border-bottom: 2px solid lightgrey;
      padding-bottom: 5px; }
    header .content-wrapper .sub-contenuto {
      float: left;
      padding: 0;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 5px; }
      header .content-wrapper .sub-contenuto .stagioni {
        float: left;
        width: 70%; }
        header .content-wrapper .sub-contenuto .stagioni .box-stagioni {
          margin: 0 auto;
          width: 70%;
          background: lightgreen; }
      header .content-wrapper .sub-contenuto .mini-box {
        float: left;
        width: 15%;
        border: 1px solid lightgrey;
        height: 60px; }

footer {
  width: 100%;
  float: left;
  position: relative;
  background: white;
  padding-top: 10px;
  padding-bottom: 10px; }
  footer .wrapper {
    border: 1px solid lightgrey;
    width: 90%;
    margin: 0 auto;
    height: 50px; }

.content {
  width: 100%;
  heigth: 100%;
  float: left;
  padding-left: 5%;
  padding-right: 5%; }

.slideshow-wrapper {
  width: 100%;
  heigth: 300px;
  float: left;
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 30px; }

.subcolumn {
  width: 90%;
  bottom: 0;
  height: 150px;
  position: absolute;
  z-index: 99999;
  opacity: 0.5; }
  .subcolumn .content-wrapper {
    margin: 0 auto;
    padding: 0; }
    .subcolumn .content-wrapper .contenuto {
      margin: 0 auto;
      padding: 0;
      width: 100%; }

#video-container {
  heigth: 100%;
  background: grey;
  height: 450px;
  position: relative;
  z-index: 2; }

.content {
  width: 100%;
  position: relative; }

.video-js {
  width: 90%;
  height: 100%;
  position: absolute; }

.timeline {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid grey;
  height: 60px; }

.month {
  cursor: pointer;
  width: 11%;
  text-align: center;
  float: left;
  margin-left: 9%;
  color: white;
  margin-top: 38px; }
  .month .number {
    width: 100%;
    color: grey; }
  .month .triangle {
    bottom: 0;
    border-bottom: 7px solid grey;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    margin: 0 auto;
    width: 0; }

.month-selected {
  cursor: pointer;
  width: 11%;
  text-align: center;
  float: left;
  margin-left: 9%;
  color: white;
  margin-top: 23px; }
  .month-selected .number {
    width: 100%;
    float: left;
    padding-bottom: 15px;
    color: grey; }
  .month-selected .triangle {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    background: orangered;
    margin-left: 50%;
    margin-top: -3px;
    float: left; }

.text-intro {
  width: 90%;
  color: white;
  position: absolute;
  z-index: 999999;
  margin: 0 auto;
  opacity: 0.2;
  text-align: center;
  cursor: pointer;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.text-intro:hover {
  opacity: 1;
  color: white;
  text-shadow: none; }

.text-intro p {
  margin: 0 auto;
  width: 40%;
  font-size: 3em;
  margin-top: 100px;
  transform: skew(0deg, -2deg);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 20px;
  padding-bottom: 20px; }

.menu {
  float: left;
  padding: 1%;
  width: 31%; }
  .menu a {
    color: grey; }

.logo {
  float: left;
  position: relative;
  text-align: center;
  width: 33%; }
  .logo h1 {
    margin: 0; }

.social {
  width: 33%;
  float: right; }

.menu-popup {
  background: none repeat scroll 0 0 transparent;
  height: 100%;
  padding: 0px 20px 20px;
  position: relative;
  width: 100%;
  float: left; }
  .menu-popup .logo-menu {
    border-bottom: 1px solid white;
    color: white;
    float: left;
    margin: 0 auto 0 1%;
    padding-bottom: 30px;
    padding-left: 0;
    padding-top: 20px;
    text-align: center;
    width: 98%; }

#menu .box {
  float: left;
  height: 39%;
  margin: 1%;
  padding: 0;
  width: 22%; }

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  height: 100%; }

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  height: 100%; }

button.mfp-close, button.mfp-arrow {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  box-shadow: none;
  cursor: pointer;
  display: block;
  float: left;
  left: 0;
  outline: medium none;
  overflow: visible;
  padding: 0;
  z-index: 1046;
  color: white; }

.mfp-close-btn-in .mfp-close {
  color: white;
  font-size: 4em;
  font-weight: normal;
  padding: 1% 0 0 4%; }

.corner {
  background: none repeat scroll 0 0 rgba(232, 112, 88, 0.2);
  opacity: 1;
  position: fixed;
  transition: all 0.3s ease 0s;
  z-index: 300; }

.corner.corner--right {
  right: 4%; }

.corner.corner--left, .corner.corner--right {
  height: calc(86% - 90px);
  top: calc(7% + 70px);
  width: 10px; }

.corner.corner--bottom {
  bottom: calc(7% + 10px);
  height: 10px;
  left: calc(4% + 10px);
  width: calc(92% - 20px); }

.corner.corner--right.out {
  right: 0; }

.corner.corner--bottom.out {
  bottom: 0; }

.corner.corner--left.out {
  left: 0; }

.corner.corner--left {
  left: 4%; }

.subcontent {
  float: left;
  width: 100%;
  padding-bottom: 40px; }
  .subcontent .article {
    background: lightgrey;
    padding: 1%;
    float: left;
    height: 190px;
    margin-left: 9%;
    margin-right: 0;
    width: 21%; }
    .subcontent .article .content {
      width: 100%;
      height: 100%;
      border: 5px solid grey; }

.column-left {
  width: 60%;
  float: left; }
  .column-left article {
    width: 100%;
    float: left; }
    .column-left article .small {
      height: 50px; }
  .column-left article.big {
    height: 450px;
    background-color: #B58707; }
  .column-left article.medium {
    height: 350px;
    background-color: #F2CC63; }
  .column-left article.small {
    height: 50px; }
  .column-left .padded {
    padding: 3%; }
  .column-left .content {
    width: 100%;
    float: left;
    border: 3px solid grey;
    height: 100%; }

.column-right {
  width: 40%;
  float: left; }
  .column-right article {
    width: 100%;
    float: left; }
  .column-right h4.title {
    background: white;
    color: grey;
    width: 50%;
    text-align: center;
    margin: 0px 0px 0px 0px;
    position: absolute;
    margin-top: -13px;
    margin-left: 20%; }
  .column-right button {
    background: none repeat scroll 0 0 white;
    border: 1px solid grey;
    color: grey;
    margin: -10px 0 0 20%;
    position: absolute;
    text-align: center;
    width: 50%; }
  .column-right .content {
    width: 100%;
    float: left;
    border: 3px solid grey;
    height: 100%; }
  .column-right p {
    height: 150px; }
  .column-right .padded {
    padding: 3%; }
  .column-right .small {
    width: 50%;
    height: 250px; }

/*# sourceMappingURL=style.css.map */
